{layout none}

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{$webName}: Nové heslo</title>
</head>
	<body>
		<p>
			Dobrý den,
		</p>

		<p>
			byl Vám vygenerován přístupový účet pro web {$webName}, nebo jste zažádali o změnu hesla.<br>
			Vytvoření účtu / změnu hesla dokončíte klepnutím na následující odkaz, kde si nastavíte nové heslo.
		</p>

		<p>
			<a href="{link //Login:passResetConfirm $userHash}">{link //Login:passResetConfirm $userHash}</a>
		</p>

		<p>
			Odkaz je platný do {$validTill|date:'j.n.Y H:i'}.<br>
			Pokud jste o založení účtu / změnu hesla nežádali, tento e-mail prostě ignorujte - účet nebude aktivován, případně heslo zůstane stávající.
		</p>
	</body>
</html>