
.fileUpload {
	position: relative;
	overflow: hidden;
	
	input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

.uploadQueue{
	margin: 10px 0;
	
	.uplRow{
		clear: both;
		height: 40px;
		border-bottom: dotted 1px #666;
		
		&.last{
			border-bottom: none;
		}
	}
	
	.uplCell{
		float: left;
		line-height: 34px;
		
		&.name{
			width: 380px;
		}
		
		&.size{
			width: 100px;
		}
		
		&.uplProg{
			width: 200px;
			padding-top: 7px;
		}
		
		&.cancel{
			width: 90px;
			text-align: center;
			position: relative;
			top:-2px;
		}
	}
	
	.progress{
		margin-bottom: 0;
	}
}
