<div n:class="modal, large, $open ? autoshow">
	<div class="modal-dialog">
		<div class="modal-content">
			
			{form addFilesForm}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Nahrát soubory</h4>
				</div>
				<div class="modal-body">
					
					{snippet flashes}
						{if !empty($flashes)}
							<div class="flashes jsFlashes">
								{foreach $flashes as $flash}
									<div class="alert alert-{$flash->type}" role="{$flash->type}">
										<div class="closing"><a href="#" class="icon cross jsCloseMsg" title="Skrýt zprávu"></a></div>
										<div class="message">{$flash->message}</div>
									</div>
								{/foreach}
							</div>
						{/if}
					{/snippet}
					
					{input uploadedFiles}
				</div>
				
				{snippet buttons}
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
						{if $showSubmit}<button type="submit" class="btn btn-primary" id="jsKiwiUploadSubmit" n:name="addUploadedFiles">Přidat soubory</button>{/if}
					</div>
				{/snippet}
			{/form}
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
