<div n:class="modal, $open ? autoshow">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{$dialogTitle}</h4>
			</div>
			
			
			{form nameInputForm}
				
				<div class="modal-body">
			
					{snippet flashes}
						{if !empty($flashes)}
							<div class="flashes jsFlashes">
								{foreach $flashes as $flash}
									<div class="alert alert-{$flash->type}" role="{$flash->type}">
										<div class="closing"><a href="#" class="icon cross jsCloseMsg" title="Skrýt zprávu"></a></div>
										<div class="message">{$flash->message}</div>
									</div>
								{/foreach}
							</div>
						{/if}
					{/snippet}
				
					<div class="form-group">
						{$inputLabel}
						{input name class=>form-control}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
					<button type="submit" class="btn btn-primary" n:name="addDir">Uložit</button>
				</div>
			{/form}
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
