{layout $mainBeLayout}

{block title}Soubory, {if $currentDir!==NULL}složka {$currentDir->name|truncate:30}{else}domovská složka{/if} - Kiwi{/block}

{block navpath}
	<li>Soubory - ve složce: &nbsp;<a href="{link default id=>NULL}"><i class="ico ico-home{if empty($navPath)} ico-white{/if}" title="Domovská složka" data-toggle="tooltip"></i></a></li>
	{foreach $navPath as $directory}
		{if !$iterator->isLast()}
			<li><a href="{link default id=>$directory->id}" title="Přejít do složky {$directory->name}">{$directory->name|truncate:30}</a></li>
		{else}
			<li class="active" title="{$directory->name}">{$directory->name|truncate:30}</li>
		{/if}
	{/foreach}
{/block}

{block leftmenu}
	<li class="list-group-item"><a href="{link default id=>NULL}"><i class="ico ico-home"></i> &nbsp;Domovská složka</a></li>
	</ul><ul class="list-group">
	<li class="list-group-item"><a href="{link uploadFiles!}" class="ajax">Nahrát soubory</a></li>
	<li class="list-group-item"><a href="{link addDir!}" class="ajax">Přidat složku</a></li>
{/block}

{block maincol}
	<h1 class="no-bottom-margin">
		Obsah složky 
		{if $currentDir!==NULL}
			<span title="{$currentDir->name}">{$currentDir->name|truncate:30}</span>
		{else}
			<i class="ico ico-home" data-toggle="tooltip" title="Domovská složka"></i>
		{/if}
	</h1>
	
	<div id="jsGridHolder">
		{snippet fGridSnippet}{control filesGrid}{/snippet}
	</div>
	
	{snippet dialogs}
		{control fileNameDialog}
		{control fileAddDialog}
	{/snippet}

{/block}
