<ol class="breadcrumb">
	<li>Aktuální složka: &nbsp;<a href="{link fileSelect id=>NULL}" class="ajax"><i class="ico ico-home" title="Domovská složka" data-toggle="tooltip"></i></a></li>
	{foreach $navPath as $directory}
		{if !$iterator->isLast()}
			<li><a href="{link fileSelect id=>$directory->id}" class="ajax" title="Přejít do složky {$directory->name}">{$directory->name|truncate:30}</a></li>
		{else}
			<li class="active" title="{$directory->name}">{$directory->name|truncate:30}</li>
		{/if}
	{/foreach}
</ol>

{control fileselectGrid}
