{define col-filter-name}
	{input name class=>"form-control"}
{/define}

{define col-filter-size}
	<div class="row sizeFilter">
		<div class="col-md-3 cell">{input comparator class=>"form-control"}</div>
		<div class="col-md-3 cell">{input size class=>"form-control"}</div>
		<div class="col-md-3 cell">{input units class=>"form-control"}</div>
	</div>
{/define}

{define col-id}
	<td>
		{if $row instanceof \Kiwi\Entities\Directory}
			&nbsp;
		{else}
			<input type="checkbox" value="{$cell}" class="jsFileselectIds">
		{/if}
	</td>
{/define}

{define col-name}
	<td>
		{if $row instanceof \Kiwi\Entities\Directory}
			<i class="ico ico-folder"></i>&nbsp;
			<a href="{plink fileSelect id => $row->id}" class="ajax" title="{$cell}">{$cell|truncate:45}</a>
		{else}
			<i class="ico ico-file{if $row->isImage}-image{/if}"></i>
			<span data-toggle="tooltip" data-html="true" data-placement="right"
					title="{if $row->isImage}<img src='{plink :Kiwi:File:image id => $row->id,width=>100,height=>100}'><br>{/if}{$cell}">
				{$cell|truncate:50}
			</span>
		{/if}
		
	</td>
{/define}

{define col-size}
	<td>
		{if $row instanceof \Kiwi\Entities\Directory}
			{if $row->size!==NULL}
				{$row->size|bytes}
				<a href="{plink count! $row->id}" data-toggle="tooltip" title="Přepočítat" class="ajax"><i class="ico ico-refresh"></i></a>
			{else}
				<a href="{plink count! $row->id}" data-toggle="tooltip" title="Spočítat" class="ajax"><i class="ico ico-refresh"></i></a>
			{/if}
			
		{else}
			{$cell|bytes}
		{/if}
	</td>
{/define}

{define col-created}
	<td>
		<small>{$row->created|date:'j.n.Y H:i:s'}</small>
	</td>
{/define}

{define col-ownerName}
	<td>
		<small>{$row->ownerName ?: $row->ownerEmail}</small>
	</td>
{/define}

{define row-actions}{/define}

{define empty-result}
	<tr><td colspan="5">Složka je prázdná.</td></tr>
{/define}
