{define col-filter-name}
	{input name class=>"form-control"}
{/define}

{define col-filter-size}
	<div class="row sizeFilter">
		<div class="col-md-2 cell">{input comparator class=>"form-control"}</div>
		<div class="col-md-3 cell">{input size class=>"form-control"}</div>
		<div class="col-md-2 cell">{input units class=>"form-control"}</div>
	</div>
{/define}

{define col-name}
	<td>
		{if $row instanceof \Kiwi\Entities\Directory}
			<i class="ico ico-folder"></i>&nbsp;
			<a href="{plink default id => $row->id}">{$cell}</a>
		{else}
			<i class="ico ico-file{if $row->isImage}-image{/if}"></i>&nbsp;
			<a href="{plink :Kiwi:File: id => $row->id}" data-toggle="tooltip" data-html="true" data-placement="right"
				title="{if $row->isImage}<img src='{plink :Kiwi:File:image id => $row->id,width=>100,height=>100}'><br>{/if}{$cell}">
				{$cell|truncate:75}
			</a>
		{/if}
		
	</td>
{/define}

{define col-size}
	<td>
		{if $row instanceof \Kiwi\Entities\Directory}
			{if $row->size!==NULL}
				{$row->size|bytes}
				<a href="{plink count! $row->id}" title="Přepočítat" data-toggle="tooltip" class="ajax"><i class="ico ico-refresh" aria-hidden="true"></i></a>
			{else}
				<a href="{plink count! $row->id}" title="Spočítat" data-toggle="tooltip" class="ajax"><i class="ico ico-refresh" aria-hidden="true"></i></a>
			{/if}
			
		{else}
			{$cell|bytes}
		{/if}
	</td>
{/define}

{define col-created}
	<td>
		<small>{$row->created|date:'j.n.Y H:i:s'}</small>
	</td>
{/define}

{define col-ownerName}
	<td>
		<small>{$row->ownerName ?: $row->ownerEmail}</small>
	</td>
{/define}

{define row-actions}
	{if $row->ownerId == $user->id || $user->isInRole("admin")}
		{if $row instanceof \Kiwi\Entities\Directory}
			<a href="{plink renameDirectory! $primary}" class="ajax" data-toggle="tooltip" title="Přejmenovat"><i class="ico ico-edit"></i></a>
			<a href="{plink deleteDirectory! $primary}" class="jsPrompt" data-toggle="tooltip" title="Smazat" data-prompt="Opravdu smazat složku {$row->name}?" ><i class="ico ico-delete"></i></a>
		{else}
			<a href="{plink renameFile! $primary}" class="ajax" data-toggle="tooltip" title="Přejmenovat"><i class="ico ico-edit"></i></a>
			<a href="{plink deleteFile! $primary}" class="jsPrompt" data-toggle="tooltip" title="Smazat" data-prompt="Opravdu smazat soubor {$row->name}?"><i class="ico ico-delete"></i></a>
		{/if}
	{else}
		<i class="ico ico-warning" data-toggle="tooltip" title="Pouze vlastník může upravovat."></i>
	{/if}
{/define}

{define empty-result}
	<tr><td colspan="5">Složka je prázdná.</td></tr>
{/define}
