<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{block head}{/block}
		
		<title>{block title}Kiwi{/block}</title>

		<link rel="stylesheet" href="{$basePath}/kiwi.{$kiwiResourcesMode}.css">
		{block headCss}{/block}

	</head>
	<body class="{block bodyClasses}{/block}" {*if !empty($kiwiBodyClasses)}class="{$kiwiBodyClasses|implode:' '}"{/if*}>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
				    <div id="logo"></div>
				    <div id="logo-text">... Kiwi to nadatlí za Vás!</div>
				</div>
				<div class="col-md-4">
					{block status}
						<div id="status">
							<div id="login-display">Přihlášen: <a href="{link :Kiwi:Be:Profile:}" title="Upravit profil">{$loggedUserData[email]} {if !empty($loggedUserData[name])}({$loggedUserData[name]}){/if}</a> | <a href="{link :Kiwi:Be:Login:logout}">Odhlásit</a></div>
							<div id="js_act_time" class="clock">{$now|date:'j.n.Y H:i:s'}</div>
						</div>
					{/block}
				</div>
			</div>
				
			<nav class="navbar navbar-default main-menu {ifset #navpath}withnav{/ifset}" id="mainMenu">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Zapnout navigaci</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						{* this is first part of main menu - application specific *}
						{* todo try to define main menu here instead of the config *}
						{block mainMenu}
						<ul class="nav navbar-nav">
							{foreach $beMenu as $itemText=>$itemData}
								{var $hasSub = !empty($itemData['sub']) && is_array($itemData['sub'])}
									<li {if $hasSub}class="dropdown"{/if}>
										<a href="{$itemData['action']}" {if $hasSub}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"{/if}>{$itemText}{if $hasSub} <span class="caret"></span>{/if}</a>
										{if $hasSub}
											<ul class="dropdown-menu" role="menu">
												{foreach $itemData['sub'] as $subItemText=>$subItemData}
													{if $subItemData['action'] == 'divider'}
														<li class="divider"></li>
													{else}
														<li><a href="{$subItemData['action']}">{$subItemText}</a></li>
													{/if}
												{/foreach}
											</ul>
										{/if}
									</li>
							{/foreach}
						</ul>
						{/block}

						{* this is static kiwi menu section - it is always there (modified for different user roles only) *}
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{link :Kiwi:Be:Files:}">Soubory</a></li>
							{if $user->isInRole('admin') || !$noProfile}
								<li class="dropdown">
									<a href="{link :Kiwi:Be:Users:}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nastavení <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										{if $user->isInRole('admin')}
											<li><a href="{link :Kiwi:Be:Users:}">Uživatelé</a></li>
											<li><a href="{link :Kiwi:Be:Tools:}">Nástroje</a></li>
											<li class="divider"></li>
										{/if}
										{if !$noProfile}
											<li><a href="{link :Kiwi:Be:Profile:}">Profil</a></li>
										{/if}
									</ul>
								</li>
							{/if}
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
				
				
			<div class="container-fluid" id="breadCrumb">
				{ifset #navpath}
					<ol class="breadcrumb">
						{include #navpath}
					</ol>
				{/ifset}
			</div>
			
			{snippet flashes}
				{if !empty($flashes)}
					<div class="flashes jsFlashes">
						{foreach $flashes as $flash}
							<div class="alert alert-{$flash->type}" role="{$flash->type}">
								<div class="closing"><a href="#" class="icon cross jsCloseMsg" title="Skrýt zprávu"></a></div>
								<div class="message">{$flash->message}</div>
							</div>
						{/foreach}
					</div>
				{/if}
			{/snippet}
			
			<div class="content-container">
				{ifset #leftmenu}
					<div class="row">
						<div class="col-md-2" id="leftMenu">
							<ul class="list-group">
								{include #leftmenu}
							</ul>
						</div>

						<div class="col-md-10 rightcol">
							{include #maincol}
						</div>
					</div>
				{else}
					<div class="row">
						<div class="col-md-12 onecol">
							{include #maincol}
						</div>
					</div>
				{/ifset}
			</div>
			
			<div class="row small">
				<div class="col-md-12  text-right footer">
					Kiwi v.{$kiwiVersion} | <a href="http://www.dosllamas.cz">dosllamas.cz</a>
				</div>
			</div>
		</div>
		
		{include fileSystemElements.latte}

		<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{$basePath}/kiwi.{$kiwiResourcesMode}.js" type="text/javascript"></script>
		{block footScripts}{/block}

	</body>
</html>
