<input type="hidden" value="{link :Kiwi:Be:Files:fileSelect}" id="jsFileSelectLink">
<input type="hidden" value="{link :Kiwi:Be:Files:getAllowedThumbSizes}" id="jsThumbSizesLink">
<input type="hidden" value="{link :Kiwi:Be:Files:getPathTo fileId=>'--id--'}" id="jsFilePathLink">
<input type="hidden" value="{link :Kiwi:File:image id=>'--id--', width=>'--width--', height=>'--height--'}" id="jsImageLink">

{* fileSelect dialog *}
<div class="modal fade fileSelect" id="jsFileSelectModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title jsModalTitle">Vyberte soubor</h4>
			</div>
			<div class="modal-body fsBody">
				<div class="jsModalContent hidden"></div>
				<div class="jsModalContentLoader">Načítám obsah ...</div>{* todo vymenit za prekryv *}
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary jsFsSelectFiles" type="button">Vybrat označené</button>
				<button class="btn btn-default" data-dismiss="modal" type="button">Zavřít</button>
			</div>
		</div>
	</div>
</div>

{* wysiwyg image dialog *}
<div class="modal fade imageDialog" id="jsImageModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title jsModalTitle">Vložit nebo upravit obrázek</h4>
			</div>
			<div class="modal-body fsBody">
				<div id="jsImageDialogBody">
					<div class="container-fluid">
						<div class="form-group row imageSourceRow" >
							<label>Zdroj obrázku</label>
							<div class="input-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary active jsSourceToggle">
										<input type="radio" name="toggle" id="internal" value="internal" autocomplete="off" checked> Ze systému
									</label>
									<label class="btn btn-primary jsSourceToggle">
										<input type="radio" name="toggle" id="external" value="external" autocomplete="off"> Z webu
									</label>
								</div>
							</div>
							<div class="imgDiv jsSelectedImageThumb hidden"></div>
						</div>
						<div class="form-group row jsInternalUrlRow" >
							<label>URL</label>
							<div class="input-group">
								<input type="text" class="form-control jsInternalUrl" readonly>
								<span class="input-group-btn">
									<button class="btn btn-default jsFileselectLauncher" type="button">Vybrat</button>
								</span>
							</div>
							<div class="selectedFileName hidden jsSelectedFileName"></div>
						</div>
						<div class="form-group row jsExternalUrlRow hidden" >
							<label>URL</label>
							<input type="text" class="form-control jsExternalUrl">
						</div>
						<div class="form-group row jsThumbSizesRow">
							<label>Velikost</label>
							<select class="form-control jsThumbSizes">
								<option value="0">načítám ...</option>
							</select>
						</div>
						<div class="form-group row jsSizesRow hidden">
							<div class="col-md-6 leftmostCol">
								<label>Šířka</label>
								<input type="text" class="form-control jsImageWidth">
							</div>
							<div class="col-md-6 rightmostCol">
								<label>Výška</label>
								<input type="text" class="form-control jsImageHeight">
							</div>
						</div>
						<div class="form-group row jsAltRow">
							<label>Zástupný text (alt)</label>
							<input type="text" class="form-control jsAlt"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary jsImageInsert">Vložit</button>
				<button type="button" class="btn btn-default jsImageClose">Zavřít</button>
			</div>
		</div>
	</div>
</div>
{* dialog body *}

{* dialog footer (buttons) *}
<div id="jsImageDialogFooter" class="hidden">
	<button type="button" class="btn btn-primary jsImageInsert">Vložit</button>
	<button type="button" class="btn btn-default jsImageClose">Zavřít</button>
</div>

{* wysiwyg link dialog parts *}
{* dialog body *}
<div id="jsLinkDialogBody" class="hidden">
	<div class="container-fluid">
		<div class="form-group row" >
			<label>Cíl odkazu</label>
			<div class="input-group">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active jsSourceToggle">
						<input type="radio" name="toggle" value="external" autocomplete="off" checked> Webová adresa
					</label>
					<label class="btn btn-primary jsSourceToggle">
						<input type="radio" name="toggle" value="file" autocomplete="off"> Soubor v systému
					</label>
				</div>
			</div>
		</div>
		<div class="form-group row jsTextRow">
			<label>Text odkazu</label>
			<input type="text" class="form-control jsText"></select>
		</div>
		<div class="form-group row jsFileUrlRow hidden" >
			<label>URL</label>
			<div class="input-group">
				<input type="text" class="form-control jsFileUrl" readonly>
				<span class="input-group-btn">
					<button class="btn btn-default jsFileselectLauncher" type="button">Vybrat</button>
				</span>
			</div>
			<div class="selectedFileName hidden jsSelectedFileName"></div>
		</div>
		<div class="form-group row jsExternalUrlRow" >
			<label>URL</label>
			<input type="text" class="form-control jsExternalUrl">
		</div>
		<div class="form-group row jsTargetRow">
			<div class="checkbox">
				<label>
					<input type="checkbox" class="jsTarget"> Otevřít v novém okně
				</label>
			</div>
		</div>
	</div>
</div>
{* dialog footer (buttons) *}
<div id="jsLinkDialogFooter" class="hidden">
	<button type="button" class="btn btn-primary jsImageInsert">Vložit</button>
	<button type="button" class="btn btn-default jsImageClose">Zavřít</button>
</div>