{layout none}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow">
		<title>CMS Kiwi</title>

		<link rel="stylesheet" href="{$basePath}/kiwi.{$kiwiResourcesMode}.css">
	</head>
	<body>
		<div id="logincont" class="container-fluid">
			<div class="row">

				<div id="loginwell" class="col-md-4 col-md-offset-4 well">
					
					{* todo: flash messages, layout *}
					{snippet flashes}
						{if !empty($flashes)}
							<div class="flashes jsFlashes">
								{foreach $flashes as $flash}
									<div class="alert alert-{$flash->type}" role="{$flash->type}">
										<div class="closing"><a href="#" class="icon cross jsCloseMsg" title="Skrýt zprávu"></a></div>
										<div class="message">{$flash->message}</div>
									</div>
								{/foreach}
							</div>
						{/if}
					{/snippet}
					
					<div id="logo" class="big"></div>
					<div id="logotext">... Kiwi to nadatlí za Vás!</div>
					
					{include #content}
					
					<div id="foot" class="small"><a href="http://www.dosllamas.cz">dosllamas.cz</a> | {block backLink}<a href="{link default}">Zpět na přihlášení ?</a>{/block}</div>
				</div>
			</div>
		</div>

		{* keep this here to preload the script *}
		<script src="{$basePath}/kiwi.{$kiwiResourcesMode}.js" type="text/javascript"></script>
	</body>
</html>
