{layout $mainBeLayout}

{block leftmenu}
	<li class="list-group-item"><a href="{link default}">Úprava profilu</a></li>
	<li class="list-group-item"><a href="{link changePass}">Změna hesla</a></li>
{/block}

{block maincol}
	{include #subcontent}
{/block}