{layout $mainBeLayout}

{block leftmenu}
	<li class="list-group-item"><a href="{link cache}">Vymazání cache</a></li>
	<li class="list-group-item"><a href="{link logs}">Logy</a></li>
	<li class="list-group-item"><a href="{link exceptions}">Exceptions</a></li>
	<li class="list-group-item"><a href="{link composer}">Composer</a></li>
	<li class="list-group-item"><a href="{link phpinfo}">Phpinfo</a></li>
{/block}

{block maincol}
	{include #subcontent}
{/block}
