{layout ./@layout.latte}

{block title}Vymazání cache - Kiwi{/block}

{block navpath}
	<li><a href="{link Tools:}">Nástroje</a></li>
	<li class="active">Vymazání cache</li>
{/block}


{block subcontent}
	<h1>Vymazání cache</h1>
	
	<p>Stisknutím tlačítka provedete vymazání Nette cache (adresář temp).</p>

	{control clearCacheForm}
	
{/block}