{layout ./@layout.latte}

{block title}Composer - Kiwi{/block}

{block navpath}
	<li><a href="{link Tools:}">Nástroje</a></li>
	<li class="active">Logy</li>
{/block}


{block subcontent}
	<h1>Composer</h1>

	
	<p>Následuje výpis souboru <strong>composer.json</strong></p>
	
	<pre>{$composerFileContents}</pre>
	
	
	
	<p>Následuje výpis <strong>instalovaných balíčků</strong></p>
	
	{if $composerLockFile}
		
		<p>Minimální stabilita balíčků je: <i>{$composerLockFile['minimum-stability']}</i>.</p>
		
		<table class="table table-striped">
			<tr>
				<th>Balíček</th>
				<th>Verze</th>
				<th>Licence</th>
				<th>Autor</th>
				<th>Popis</th>
			</tr>
			{foreach $composerLockFile['stable-packages'] as $package}
				<tr>
					<td>{$package[name]}</td>
					<td>{$package[version]}</td>
					<td><small>{$package[license]}</small></td>
					<td><small>{$package[author]}</small></td>
					<td><small>{$package[description]}</small></td>
				</tr>
			{/foreach}
		</table>
		
		<p>Instalované <strong>dev</strong> balíčky:</p>
		
		{if !empty($composerLockFile['dev-packages'])}
			<table class="table table-striped">
				<tr>
					<th>Balíček</th>
					<th>Verze</th>
					<th>Licence</th>
					<th>Autor</th>
					<th>Popis</th>
				</tr>
				{foreach $composerLockFile['dev-packages'] as $package}
					<tr>
						<td>{$package[name]}</td>
						<td>{$package[version]}</td>
						<td><small>{$package[license]}</small></td>
						<td><small>{$package[author]}</small></td>
						<td><small>{$package[description]}</small></td>
					</tr>
				{/foreach}
			</table>
		{else}
			<pre>nejsou</pre>
		{/if}
		
	{else}
		<pre>N/A</pre>
	{/if}
	
{/block}