{layout ./@layout.latte}

{block title}Exceptions - Kiwi{/block}

{block navpath}
	<li><a href="{link Tools:}">Nástroje</a></li>
	<li><a href="{link Tools:exceptions}">Exceptions</a></li>
	<li class="active">{$currentName}</li>
{/block}


{block subcontent}
	<h1>Výpis exceptions</h1>

	<ul class="nav nav-pills">
		{foreach $logFiles as $logFile}
			<li role="presentation" {if $logFile[fullName]==$currentLogFile}class="active"{/if}><a href="{link exceptions $logFile[fullName]}">{$logFile[name]}</a></li>
		{/foreach}
	</ul>
	
	<iframe src="{link exceptionContent $currentLogFile}" style="margin-top:20px;width:95%;height:800px;"></iframe>
	
{/block}