{layout ./@layout.latte}

{block title}Logy ({$currentLogFile}.log) - Kiwi{/block}

{block navpath}
	<li><a href="{link Tools:}">Nástroje</a></li>
	<li><a href="{link Tools:logs}">Výpis logů</a></li>
	<li class="active">{$currentLogFile}.log</li>
{/block}


{block subcontent}
	<h1>Výpis logů</h1>

	<ul class="nav nav-pills">
		{foreach $logFiles as $logFile}
			<li role="presentation" {if $logFile[name]==$currentLogFile}class="active"{/if}><a href="{link logs $logFile[name]}">{$logFile[name]}.log</a></li>
		{/foreach}
	</ul>

	<div style="margin-top: 20px;">
		<pre>{$currentContent ?: "Nenalezeny žádné logy."}</pre>
	</div>
	
{/block}