{layout ./@layout.latte}

{block title}Phpinfo - Kiwi{/block}

{block navpath}
	<li><a href="{link Tools:}">Nástroje</a></li>
	<li class="active">Phpinfo</li>
{/block}


{block subcontent}
	<h1>Phpinfo</h1>

	<div class="phpinfo">{$phpinfo|noescape}</div>
	
{/block}
