{layout $mainBeLayout}

{block leftmenu}
	<li class="list-group-item"><a href="{link edit 0}">Přidat uživatele</a></li>
	<li class="list-group-item"><a href="{link default}">Správa uživatelů</a></li>
{/block}

{block maincol}
	{include #subcontent}
{/block}