{layout ./@layout.latte}

{block title}Uživatelé - Kiwi{/block}

{block navpath}
	<li class="active">Správa uživatelů</li>
{/block}

{block subcontent}
	<h1>Správa uživatelů</h1>
	{control userGrid}
{/block}