{layout ./@layout.latte}

{block title}{if isset($userData)}Uživatel {$userData->email} ({$userData->name}){else}Nový uživatel{/if} - Kiwi{/block}

{block navpath}
	<li><a href="{link Users:}">Správa uživatelů</a></li>
	<li class="active">{if isset($userData)}Upravit uživatele {$userData->email} ({$userData->name}){else}Přidat uživatele{/if}</li>
{/block}

{block subcontent}
	<h1>{if isset($userData)}Upravit uživatele {$userData->email} ({$userData->name}){else}Přidat uživatele{/if}</h1>
	
	<div class="cols">

		<div class="leftCol">
			{control editForm}
		</div>
		
		{*if isset($userData)}
			<div class="rightCol">
				<h2 class="no-top-margin no-bottom-margin">Přiřazené role:</h2>
				<div class="top-bottom-margin">
					{foreach $userRolesToShow as $role}
						<div><span class="icon tag_green"></span> <a href="{link unassignRole! $role->id,$userData->id}" title="Kliknutím odebrat roli">{$role->name}</a></div>
					{/foreach}
				</div>
				
				<div class="infoBox">
					<div class="icon information"></div>
					Změny v rolích se ukládají okamžitě.
				</div>
				
				<h2 class="no-bottom-margin">Nové heslo</h2>
				
				<div class="top-bottom-margin">
					<a href="{link newPass! $userData->id}" class="button" id="jsNewPass">Vygenerovat nové heslo</a>
				</div>
			</div>
		{/if*}
	</div>

{/block}