
{define col-email}
	<td><a href="{plink Users:edit $row->id}">{$row->email}</a></td>
{/define}

{define col-password}
	<td><span class="ico ico-{if empty($row->password)}delete{else}check{/if}" aria-hidden="true"></span></td>
{/define}

{define col-blocked}
	<td><span class="ico ico-{if empty($row->blocked)}delete{else}check{/if}" aria-hidden="true"></span></td>
{/define}

{define col-pwd_change_required}
	<td><span class="ico ico-{if empty($row->pwdChangeRequired)}delete{else}check{/if}" aria-hidden="true"></span></td>
{/define}
	
{define row-actions}
	<a href="{plink edit $primary}" data-toggle="tooltip" title="Upravit uživatele"><i class="ico ico-edit" aria-hidden="true"></i></a>
	<a href="{plink newPass! $primary}" data-toggle="tooltip" class="jsPrompt" title="Zaslat odkaz pro nastavení nového hesla" data-prompt="Opravdu odeslat uživateli {$row->email} e-mail pro nastavení nového hesla?"><i class="ico ico-link" aria-hidden="true"></i></a>
	<a href="{plink delete! $primary}" data-toggle="tooltip" class="jsPrompt" title="Smazat uživatele" data-prompt="Opravdu smazat uživatele {$row->email}?"><i class="ico ico-delete" aria-hidden="true"></i></a>
{/define}
